################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EntityFramework/.vs/Net.EntityFramework
/EntityFramework/EntityFramework/bin/Debug/net8.0/cs
/EntityFramework/EntityFramework/bin/Debug/net8.0/de
/EntityFramework/EntityFramework/bin/Debug/net8.0/es
/EntityFramework/EntityFramework/bin/Debug/net8.0/fr
/EntityFramework/EntityFramework/bin/Debug/net8.0/it
/EntityFramework/EntityFramework/bin/Debug/net8.0/ja
/EntityFramework/EntityFramework/bin/Debug/net8.0/ko
/EntityFramework/EntityFramework/bin/Debug/net8.0/pl
/EntityFramework/EntityFramework/bin/Debug/net8.0/pt-BR
/EntityFramework/EntityFramework/bin/Debug/net8.0/ru
/EntityFramework/EntityFramework/bin/Debug/net8.0/runtimes
/EntityFramework/EntityFramework/bin/Debug/net8.0/tr
/EntityFramework/EntityFramework/bin/Debug/net8.0/zh-Hans
/EntityFramework/EntityFramework/bin/Debug/net8.0/zh-Hant
/EntityFramework/EntityFramework/bin/Debug/net8.0/Azure.Core.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Azure.Identity.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/EntityFramework.deps.json
/EntityFramework/EntityFramework/bin/Debug/net8.0/EntityFramework.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/EntityFramework.exe
/EntityFramework/EntityFramework/bin/Debug/net8.0/EntityFramework.pdb
/EntityFramework/EntityFramework/bin/Debug/net8.0/EntityFramework.runtimeconfig.json
/EntityFramework/EntityFramework/bin/Debug/net8.0/Humanizer.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.OpenApi.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Mono.TextTemplating.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/System.CodeDom.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/System.Composition.Convention.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/System.Composition.Hosting.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/System.Composition.Runtime.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/System.Composition.TypedParts.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/System.Drawing.Common.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/System.Memory.Data.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/System.Runtime.Caching.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/System.Security.Permissions.dll
/EntityFramework/EntityFramework/bin/Debug/net8.0/System.Windows.Extensions.dll
/EntityFramework/EntityFramework/obj/Debug/net8.0/ref
/EntityFramework/EntityFramework/obj/Debug/net8.0/refint
/EntityFramework/EntityFramework/obj/Debug/net8.0/staticwebassets
/EntityFramework/EntityFramework/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/EntityFramework/EntityFramework/obj/Debug/net8.0/apphost.exe
/EntityFramework/EntityFramework/obj/Debug/net8.0/EntityFr.4B064B60.Up2Date
/EntityFramework/EntityFramework/obj/Debug/net8.0/EntityFramework.AssemblyInfo.cs
/EntityFramework/EntityFramework/obj/Debug/net8.0/EntityFramework.AssemblyInfoInputs.cache
/EntityFramework/EntityFramework/obj/Debug/net8.0/EntityFramework.assets.cache
/EntityFramework/EntityFramework/obj/Debug/net8.0/EntityFramework.csproj.AssemblyReference.cache
/EntityFramework/EntityFramework/obj/Debug/net8.0/EntityFramework.csproj.BuildWithSkipAnalyzers
/EntityFramework/EntityFramework/obj/Debug/net8.0/EntityFramework.csproj.CopyComplete
/EntityFramework/EntityFramework/obj/Debug/net8.0/EntityFramework.csproj.CoreCompileInputs.cache
/EntityFramework/EntityFramework/obj/Debug/net8.0/EntityFramework.csproj.FileListAbsolute.txt
/EntityFramework/EntityFramework/obj/Debug/net8.0/EntityFramework.dll
/EntityFramework/EntityFramework/obj/Debug/net8.0/EntityFramework.GeneratedMSBuildEditorConfig.editorconfig
/EntityFramework/EntityFramework/obj/Debug/net8.0/EntityFramework.genruntimeconfig.cache
/EntityFramework/EntityFramework/obj/Debug/net8.0/EntityFramework.GlobalUsings.g.cs
/EntityFramework/EntityFramework/obj/Debug/net8.0/EntityFramework.MvcApplicationPartsAssemblyInfo.cache
/EntityFramework/EntityFramework/obj/Debug/net8.0/EntityFramework.MvcApplicationPartsAssemblyInfo.cs
/EntityFramework/EntityFramework/obj/Debug/net8.0/EntityFramework.pdb
/EntityFramework/Manager/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/EntityFramework/Manager/obj/Debug/net8.0/Manager.AssemblyInfo.cs
/EntityFramework/Manager/obj/Debug/net8.0/Manager.AssemblyInfoInputs.cache
/EntityFramework/Manager/obj/Debug/net8.0/Manager.assets.cache
/EntityFramework/Manager/obj/Debug/net8.0/Manager.csproj.AssemblyReference.cache
/EntityFramework/Manager/obj/Debug/net8.0/Manager.csproj.CopyComplete
/EntityFramework/Manager/obj/Debug/net8.0/Manager.csproj.CoreCompileInputs.cache
/EntityFramework/Manager/obj/Debug/net8.0/Manager.csproj.FileListAbsolute.txt
/EntityFramework/Manager/obj/Debug/net8.0/Manager.dll
/EntityFramework/Manager/obj/Debug/net8.0/Manager.GeneratedMSBuildEditorConfig.editorconfig
/EntityFramework/Manager/obj/Debug/net8.0/Manager.GlobalUsings.g.cs
/EntityFramework/Manager/obj/Debug/net8.0/Manager.pdb
/EntityFramework/Manager/obj/Debug/net8.0/refint/Manager.dll
/EntityFramework/Manager/obj/Manager.csproj.nuget.dgspec.json
/EntityFramework/Manager/obj/Manager.csproj.nuget.g.props
/EntityFramework/Manager/obj/Manager.csproj.nuget.g.targets
/EntityFramework/Manager/obj/project.assets.json
/EntityFramework/Manager/obj/project.nuget.cache
/EntityFramework/EntityFramework/obj/EntityFramework.csproj.nuget.dgspec.json
/EntityFramework/EntityFramework/obj/EntityFramework.csproj.nuget.g.props
/EntityFramework/EntityFramework/obj/EntityFramework.csproj.nuget.g.targets
/EntityFramework/EntityFramework/obj/project.assets.json
/EntityFramework/EntityFramework/obj/project.nuget.cache
